@font-face {
  font-family: BebasNeue;
  src: url(../font/BebasNeue-webfont.woff);
}
@font-face {
  font-family: HelveticaNeueThin;
  src: url(../font/helvetica/HelveticaNeueThin.ttf);
}
@font-face {
  font-family: HelveticaNeuBold;
  src: url(../font/helvetica/HelveticaNeueBd.ttf);
}

.button1:disabled,
.button2:disabled,
.button3:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.homeBtnNav,
.titleNav,
.naughty-text {
  display: none;
}

.bebasNeue {
  font-family: BebasNeue;
}

.helveticaNeuBold {
  font-family: HelveticaNeuBold;
}

.helveticaNeuThin {
  font-family: HelveticaNeuThin;
}

@media (max-height: 600px) {
  .kindnessLogo,
  .smallMobile {
    display: none !important;
  }
}
